@import "utils/variables";
@import "utils/mixins";

@import "base/base";

@import "components/loader";
@import "components/buttons";
@import "components/cards";
@import "components/like";

@import "layouts/header";
@import "layouts/footer";

@import "pages/home";
@import "pages/restaurants";

/******** Media Queries **********/

@media (min-width: 1024px) {
  .container {
    max-width: 1080px;
    margin: auto;
  }
  .steps {
    display: flex;
    justify-content: space-between;
  }

  .restaurants {
    .restaurants-cards{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .card {
        width: 480px;
        margin-bottom: 40px;
      }
    }
  }

  footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 35px;
    .footer-title {
      h4 {
        margin: 0 25px 0 35px;
      }
    }
    .footer-links {
      ul {
        display: flex;
        div {
          display: flex;
          margin: 0 20px;
        }
        li {
          margin-right: 20px;
        }
      }
    }
  }
}

    