.card {
    width: 340px;
    height: 251px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    .card-new {
        background-color: #99E2D0;
        color: #008766;
        font-weight: 500;
        padding: 5px 10px;
        position: absolute;
        top: 15px;
        right: 15px;
        border-radius: 2px;
      }
    .card-img {
      width: 100%;
      height: 175px;
      object-fit: cover;
      position: relative;
      bottom: 25px;
      overflow: visible;
    }
    .card-content {
        padding: 5px 10px 10px 10px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .card-txt {
            .card-title {
                margin: 5px;
            }
            .card-subtitle {
                margin: 5px;
            }
        }
    }
  }
    
  
  
  

