.card-like {
    @include center();
    margin-right: 15px;
    .fa-heart {
        padding: 12px;
    }
    .fa-solid {
        background: linear-gradient($primary-color, $second-color);
        background-clip: text;
        color: transparent;
        transform: scale(0);
        transition: all 0.2s;
        position: absolute;
    }
}
.card-like:hover {
    .fa-regular {
        transform: scale(0);
    }
    .fa-solid {
        transform: scale(1);
    }
}