@keyframes like {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

  .card-like {
    @include center();
    padding: 5px;
    .fa-heart {
        padding: 12px;
    }
    .fa-solid {
        background: linear-gradient($primary-color, $second-color);
        background-clip: text;
        color: transparent;
        display: none;
    }
}
.card-like:hover {
    .fa-regular {
        display: none;
    }
    .fa-solid {
        animation: like 1.5s forwards;
        display: inline-block;
    }
}