/********* General *********/
* {
    font-family: "Roboto", sans-serif;
  }
  
  .shrikhand-regular {
      font-family: "Shrikhand", sans-serif;
    }
  
  html, body {
      margin: 0;
      padding: 0;
    }
  
  a {
      color: inherit;
      text-decoration: none;
  }
