/********* General *********/
* {
  font-family: "Roboto", sans-serif;
}

.shrikhand-regular {
  font-family: "Shrikhand", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  animation: fadeout 2s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-content {
  border: 15px dashed #9356DC;
  border-top: 15px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: loader-animation 2s infinite;
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    display: none;
  }
}
@keyframes fadeout {
  100% {
    display: none;
  }
}
@keyframes btn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.005);
  }
}
.btn {
  color: white;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  border-radius: 30px;
  width: 218px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.btn:hover {
  animation: btn 0.2s ease-in-out forwards;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}

.card {
  width: 340px;
  height: 251px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.card .card-new {
  background-color: #99E2D0;
  color: #008766;
  font-weight: 500;
  padding: 5px 10px;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 2px;
  z-index: 2;
}
.card .card-img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  position: absolute;
  bottom: 29%;
  left: 0;
}
.card .card-content {
  padding: 5px 10px 10px 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.card .card-content .card-txt .card-title {
  margin: 5px;
}
.card .card-content .card-txt .card-subtitle {
  margin: 5px;
}

@keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.card-like {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.card-like .fa-heart {
  padding: 12px;
}
.card-like .fa-solid {
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  display: none;
}

.card-like:hover .fa-regular {
  display: none;
}
.card-like:hover .fa-solid {
  animation: like 1.5s forwards;
  display: inline-block;
}

.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
}
.nav-title h1 {
  font-size: xx-large;
  margin: 0;
  padding: 20px;
}

nav {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 99;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
}
.location p {
  margin-left: 20px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px 20px 5px 20px;
  display: flex;
  flex-direction: column;
}
footer .footer-title h4 {
  margin: 0;
  font-weight: lighter;
}
footer .footer-links ul {
  list-style: none;
  padding: 0;
}
footer .footer-links li {
  margin-bottom: 5px;
}
footer .footer-links li i {
  width: 15px;
  margin-right: 10px;
}

/********** Reservez ***********/
.up {
  background: #fafafa;
  padding: 0 20px 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title1 {
  display: flex;
  text-align: center;
  padding-top: 30px;
}
.title1 h2 {
  padding: 0 50px;
  margin: 0;
}

.decouvrez {
  display: flex;
  text-align: center;
  margin: 5px 0;
  font-weight: 300;
}

/********** Fonctionnement **********/
.fonctionnement {
  padding: 20px;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.step .number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -15px;
  position: relative;
  color: white;
}
.step .step-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #F6F6F6;
  padding: 5px 15px;
  box-shadow: 0 5px 10px rgba(193, 193, 193, 0.5176470588);
}
.step .step-content i {
  color: #7E7E7E;
  margin: 0 25px 5px 25px;
  font-size: 25px;
}
.step .step-content h4 {
  width: 211px;
}

/********** Restaurants **********/
.restaurants {
  background-color: #F6F6F6;
  padding: 25px 15px 25px 15px;
}
.restaurants .restaurants-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resto-header .resto-nav {
  display: flex;
  align-items: center;
}
.resto-header .resto-nav .back-link {
  margin-left: 20px;
  position: absolute;
}
.resto-header .resto-nav .nav-title {
  margin: 0 auto;
}
.resto-header .header-img {
  width: 100%;
  overflow: hidden;
}
.resto-header .header-img img {
  width: 100%;
  height: 275px;
  transform: scale(1.1);
  transform-origin: top;
  object-fit: cover;
}

.menu {
  background: #F6F6F6;
  padding: 15px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  margin-top: -30px;
}
.menu .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.menu .menu-header h1 {
  font-weight: lighter;
  font-size: 27px;
  margin: 0;
}
.menu .menu-header .heart {
  margin-right: 20px;
}
.menu .menu-body {
  margin-bottom: 20px;
  opacity: 0;
}
.menu .menu-body h3 {
  font-weight: 300;
  font-size: 15px;
  position: relative;
  padding-bottom: 8px;
}
.menu .menu-body h3::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #99E2D0;
}
.menu .menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 30px 0;
}

.dish {
  height: 69px;
  background: white;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.dish .dish-container {
  width: 100%;
  padding: 0 10px;
}
.dish .dish-container h4 {
  font-size: large;
}
.dish .dish-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dish .dish-content p {
  font-size: 0.94rem;
  opacity: 0.9;
}
.dish .dish-content .dish-price {
  font-weight: bolder;
}
.dish .check {
  height: 100%;
  width: 59px;
  background: #99E2D0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  transform-origin: right;
  display: none;
}
.dish:hover .check {
  display: flex;
  animation: check 0.5s forwards;
}
.dish:hover .dish-container {
  width: 77%;
}

@keyframes check {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.dish h4, .dish-content p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu-body:nth-child(2) {
  animation: fade-in 2s forwards 0.1s;
}

.menu-body:nth-child(3) {
  animation: fade-in 2s forwards 0.5s;
}

.menu-body:nth-child(4) {
  animation: fade-in 2s forwards 1s;
}

/******** Media Queries **********/
/******** Home **********/
@media (min-width: 1024px) {
  .container {
    max-width: 1080px;
    margin: auto;
  }
  .steps {
    display: flex;
    justify-content: space-between;
  }
  .restaurants .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants .restaurants-cards .card {
    width: 480px;
    margin-bottom: 40px;
  }
  footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 35px;
  }
  footer .footer-title h4 {
    margin: 0 25px 0 35px;
  }
  footer .footer-links ul {
    display: flex;
  }
  footer .footer-links ul div {
    display: flex;
    margin: 0 20px;
  }
  footer .footer-links ul li {
    margin-right: 20px;
  }
  /********** Restaurants **********/
  .resto-header .header-img {
    height: 383px;
    position: relative;
  }
  .resto-header .header-img img {
    width: 100%;
    transform: scale(1);
    position: absolute;
    bottom: -230px;
  }
  .menu {
    max-width: 1055px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
  }
  .menu .menu-body {
    width: 60%;
  }
  .dish:hover .dish-container {
    width: 88%;
  }
}

/*# sourceMappingURL=style.css.map */
