.resto-header {
    .resto-nav {
        display: flex;
        align-items: center;
        .back-link {
            margin-left: 20px;
            position: absolute;
        }
        .nav-title {
            margin: 0 auto;
        }
    }
    .header-img {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            transform: scale(1.1);
            transform-origin: top;
            object-fit: cover;
        }
    }
}

.menu {
    background: $background-color;
    padding: 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    margin-top: -30px;
    .menu-header {
        @include between();
        margin: 20px 0;
        h1 {
            font-weight: lighter;
            font-size: 27px;
            margin: 0;
        }
        .heart {
            margin-right: 20px;
        }
    }
    .menu-body {
        margin-bottom: 20px;
        opacity: 0;
        h3 {
            font-weight: 300;
            font-size: 15px;
            position: relative;
            padding-bottom: 8px;
        }
        h3::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        bottom: 0;
        left: 0;
        background: $light-green;
    }
    
    }
    .menu-btn {
        @include center();
        margin: 40px 0 30px 0;
    }
}

.dish {
    height: 69px;
    background: white;
    border-radius: 15px;
    margin-bottom: 10px;
    @include between();
    overflow: hidden;
    .dish-container {
        width: 100%;
        padding: 0 10px;
    h4 {
        font-size: large;
    }
    }
    .dish-content {
        @include between();
        p {
            font-size: 0.94rem;
            opacity: 0.9;
        }
    .dish-price {
        font-weight: bolder;
    }
    }
    .check {
        height: 100%;
        width: 59px;
        background: $light-green;
        color: white;
        @include center();
        transform: scaleX(0);
        transform-origin: right;
        display: none;
    }

    &:hover {
        .check {
            display: flex;
        animation: check 0.5s forwards;
        }
        .dish-container {
            width: 75%;
        }
    }
}

@keyframes check {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.dish h4, .dish-content p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menu-body:nth-child(2) {
    animation: fade-in 2s forwards 0.1s;
}

.menu-body:nth-child(3) {
    animation: fade-in 2s forwards 0.5s;
}

.menu-body:nth-child(4) {
    animation: fade-in 2s forwards 1s;
}
