footer {
    background-color: #353535;
    color: white;
    padding: 20px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    .footer-title {
      h4 {
        margin: 0;
        font-weight: lighter;
      }
      }
    .footer-links {
      ul {
        list-style: none;
        padding: 0;
      }
      li {
        margin-bottom: 5px;
        i {
          width: 15px;
          margin-right: 10px;
        }
      }
      }}

/********* Media queries **********/

@media (min-width: 1024px) {

  footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 35px;
    .footer-title {
      h4 {
        margin: 0 25px 0 35px;
      }
    }
    .footer-links {
      ul {
        .link-space {
          margin-right: 45px;
        }
        display: flex;
        li {
          margin-right: 20px;
        }
      }
    }
  }
  
}